@inject NavigationManager navigation
@using SupplyDepot.Client.DTOService;
<EditForm Model="@Item" OnValidSubmit="@OnSubmit">
    <div class="form-group">
        <label>Name:</label>
        <div>
            <InputText @bind-Value="@Item.Name" />
        </div>
        <label>Designation:</label>
        <div>
            <InputText @bind-Value="@Item.Designation" />
        </div>
        <label>Type:</label>
        <div style="display:flex">
            <InputText @bind-Value="@Item.Type" />
            <button class="btn btn-success" @onclick="@(() => GoToDict())">Dictionary</button>
        </div>
        <label>Value:</label>
        <div>
            <InputNumber @bind-Value="@Item.Value" />
        </div>

    </div>

    <button type="submit" class="btn btn-success">Submit</button>

</EditForm>
@code
{
    bool disabled = false;
    [Parameter] public SupplyDepot.Shared.Item Item { get; set; }
    [Parameter] public EventCallback OnSubmit { get; set; }
    [Parameter] public int Mode { get; set; }

    async Task GoToDict()
    {
        var typeDto = ItemDto.GetInstance(Item.Id, Item.Name, Item.Value, Item.Designation, Item.Type, Mode);
        navigation.NavigateTo("/typesdictionary");

    }
}