@page "/typesdictionary"

@inject HttpClient Http
@inject NavigationManager navigation
@inject IJSRuntime JSRuntime
@using SupplyDepot.Shared;
@using SupplyDepot.Client.DTOService;
@using System.IO;
@using ClosedXML.Excel;  
<h1>Avalible Types</h1>

@if (types == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="form-group">
        <a class="btn btn-success" href="itemCreate">New Item</a>
    </div>
    <table class="table">

        <tbody>
            @foreach (var type in types)
            {
            <tr>
                <td>@type.Id.ToString()</td>
                <td>@type.Name.ToString()</td>
                <td><button class="btn btn-success" @onclick="@(() => ChoseType(type))">Choose</button></td>
                <td><button class="btn btn-danger" @onclick="@(() => GetDetails(type))">Get Details</button></td>
                <td><button class="btn btn-primary" @onclick="@(() => Export(type))">Export</button></td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private SupplyDepot.Shared.Type[] types;
    private ItemDto item;

    protected override async Task OnInitializedAsync()
    {
        await LoadItems();
        item = ItemDto.GetInstance();
    }

    private async Task LoadItems()
    {
        types = await Http.GetFromJsonAsync<SupplyDepot.Shared.Type[]>("api/Types/list-types");
    }

    private async Task ChoseType(SupplyDepot.Shared.Type type)
    {
        item.Type = type.Name;
        if (item.Mode == 1)
            navigation.NavigateTo("/itemcreate");
        else
            navigation.NavigateTo($"/itemedit/{item.Id}");

    }
    async Task GetDetails(SupplyDepot.Shared.Type type)
    {
        DetailsDto.GetInstance().Adapter(type);
        navigation.NavigateTo("/details");
    }
    async Task Export(SupplyDepot.Shared.Type type)
    {
        ExportVisitor exportVisitor = new ExportVisitor();
        var stream = new MemoryStream();
        type.Export(exportVisitor).SaveAs(stream);
        var content = stream.ToArray();
        var fileName = "Type.xlsx";
        await JSRuntime.InvokeAsync<object>("saveAsFile", fileName, Convert.ToBase64String(content));

    }

}
